body{
  background-color: #1C3144;
}

.ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ribbon.sticky{
  position: fixed;
}

a:hover{
  color: yellow;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: black;
}

img{
  margin-left: 20%;
}
