.container{
  height: 200px;
  width: 200px;
  border: 1px solid;
  background-color: black;
  float: left;

}

.re2{
  height: 200px;
  width: 200px;
  border: 1px solid;
  background-color: Green;
  float: left;
  margin-left: 20px;
}

.re3{
  height: 200px;
  width: 200px;
  border: 1px solid;
  background-color: Blue;
  float: Left;
  margin-left: 20px;
}

.re4{
  height: 200px;
  width: 200px;
  border: 1px solid;
  background-color: Red;
  float: left;
  margin-left: 20px;
}

.container:hover{
  background-color: yellow;
}

.re2:hover{
  background-color: teal;
}

.re3:hover{
  background-color: maroon;
  width: 600px;
}

.re4:hover{
  background-color: orange;
  width: 50px;
}

.re2:active{
  background-color: blue;
}

.re3:active{
  background-color: fuchsia;
}

.re4:active{
  background-color: #00171F;
}

.container:active{
  background-color: grey;
}
